{% extends "index.html" %}

{% block title %}
Sing-up {%call super()%}
{% endblock %}

{% block meta %}
<meta name="description" content="This is Sing-up page">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/auth.css">
{% endblock %}

{% block main %}
<div class="auth-container">
    <h1 class="auth-heading">Create Account</h1>
    <form method="POST" action="/sing-up">
        <label>
            <input type="text" placeholder="Enter your email address" name="email">
        </label>
        <label>
            <input type="password" placeholder="Enter your password" name="password">
        </label>
        <button type="submit" class="filled-button">Sign up</button>
    </form>
    <form method="GET" action="/log-in">
        <button type="submit">Already have account?Log in</button>
    </form>
</div>
{% endblock %}
