<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %} - FullStackRust
    </title>
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">

    {% block css %}
    {% endblock %}

</head>
<body>
<header>

<nav>
    <a href="/">Home</a>
    <a href="/log-in">Log-in</a>
    <a href="/creates">Creates</a>
    <a href="/todos">Todos</a>
    <a href="/sing-up">Sing-up</a>
</nav>
</header>

    <main>
        {% block main %}
        <h1>Home</h1>
        {% endblock %}
    </main>
</body>
</html>